<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Nombre:</ion-label>
      <ion-input data-test-id="name" [(ngModel)]="item.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked class="colorLabel">Importante:</ion-label>
      <ion-toggle data-test-id="important" [(ngModel)]="item.important"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Observaciones:</ion-label>
      <ion-textarea data-test-id="remarks" [(ngModel)]="item.remarks" rows="8"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button data-test-id="deleteBtn" *ngIf="index >= 0" (click)="delete()">Eliminar</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button data-test-id="cancelBtn" (click)="cancel()">Cancelar</ion-button>
      <ion-button data-test-id="okBtn" (click)="ok()">{{ okBtnText }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>