<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input data-test-id="name" [(ngModel)]="item.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Importante:</ion-label>
      <ion-toggle data-test-id="important" [(ngModel)]="item.important"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Observaciones:</ion-label>
      <ion-textarea data-test-id="remarks" [(ngModel)]="item.remarks" rows="8"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button data-test-id="deleteBtn" fill="clear" *ngIf="index >= 0" (click)="onDeleteButtonClicked()">Eliminar</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button data-test-id="cancelBtn" (click)="onCancelButtonClicked()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button data-test-id="okBtn" (click)="onOkButtonClicked()">{{ okBtnText }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>