<ion-header>
  <ion-toolbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-reorder-group data-test-id="reorderGroup" (ionItemReorder)="onItemMoved($event)" disabled="false">

      <ion-item *ngFor="let item of items; let i = index" (tap)="onItemTapped(i)" (press)="onItemPressed(item)" button="true"
        [color]="isSelectedItem(item) ? 'medium': ''">
        <ion-reorder slot="start"></ion-reorder>
        <ion-label [color]="item.important ? 'danger' : 'dark'">{{ getItemLabel(item) }}</ion-label>
      </ion-item>

    </ion-reorder-group>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="showDeleteButton()">
      <ion-fab-button data-test-id="deleteSelectedBtn" (click)="onDeleteSelectedButtonClicked()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-fab-button data-test-id="addBtn" (click)="onAddButtonClicked()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>