<ion-header>
  <ion-toolbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="itemMoved($event)" disabled="false">

      <ion-item *ngFor="let item of items; let i = index" (click)="itemClick(i)">
        <ion-label [color]="item.Important ? 'danger' : 'default'">{{ getItemLabel(item) }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

    </ion-reorder-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>